<div class="container d-flex justify-content-center">

  <div class="row">

    <div class=" col-md-3">
      <div class="counter-box rounded">
        <i class="fa fa-bars"></i>
        <span class="counter">2147</span>
        <p>Happy Customers</p>
      </div>
    </div>
    <div class="col-md-3 ">
      <div class="counter-box rounded">
        <i class="fa fa-group"></i>
        <span class="counter">3275</span>
        <p>Registered Memb</p>
      </div>
    </div>
    <div class="col-md-3 ">
      <div class="counter-box rounded">
        <i class="fa fa-check"></i>
        <span class="counter">289</span>
        <p>Available Products</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="counter-box rounded">
        <i class="fa fa-briefcase"></i>
        <span class="counter">1563</span>
        <p>Saved Trees </p>
      </div>
    </div>
  </div>
</div>
