.Comm {
     background-color: rgb(80, 80, 80);
     padding: 0.5rem;
     .Comm_icons i {
               padding-left: 0.5rem;
          }
     .contact_numbers a {
                         padding-left: 0.5rem;
                    }
     }



