<div class="Comm row">

     <div class="Comm_icons">
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
          <i class="fab fa-linkedin" aria-hidden="true"></i>
          <i class="fab fa-whatsapp" aria-hidden="true"></i>
     </div>


     <div class="contact_numbers">


          <a href="tel:01286555450"> <i class="fa-solid fa-phone"></i> 01286555450 </a>

          <a href="tel: 01200036136"> <i class="fa-solid fa-mobile-screen-button"></i>01200036136 </a>
              
          <a href="mailto:info@elmaudit.com"><i class="fa-solid fa-envelope"></i> info@elmaudit.com</a>

     </div>

</div>

<nav class="row">
<div class="logo">logo</div>
<div class="mune">
     <ul>
          <li>
               <a><i class="pe pe-7s-home"></i>home</a>
          </li>
          <li><a><i class="pe pe-7s-home"></i>home</a></li>
          <li><a><i class="pe pe-7s-home"></i>home</a></li>
          <li><a><i class="pe pe-7s-home"></i>home</a></li>
          <li><a><i class="pe pe-7s-home"></i>home</a></li>
          <li><a><i class="pe pe-7s-home"></i>home</a></li>

     </ul>
</div>
</nav>