<div class="Comm row align-items-center">

     <div class="Comm_icons col">
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
          <i class="fab fa-linkedin" aria-hidden="true"></i>
          <i class="fab fa-whatsapp" aria-hidden="true"></i>
     </div>


     <div class="contact_numbers col-md-auto">


          <a href="tel:01286555450"> <i class="fa-solid fa-phone"></i> &nbsp; 01286555450 </a>

          <a href="tel: 01200036136"> <i class="fa-solid fa-mobile-screen-button"></i> &nbsp;01200036136 </a>

          <a href="mailto:info@elmaudit.com"><i class="fa-solid fa-envelope"></i> &nbsp; info@elmaudit.com</a>

     </div>

</div>