.header {
  margin-top: 150px;
  background-image:linear-gradient(rgba(22, 37, 66, 0.8), rgba(22, 37, 66, 0.8) ),url('../../assets/pexels-august-de-richelieu-4427430.JPEG') ;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}


