<h1 class="text-center display-1 mb-5" style="font-family:Helvetica, sans-serif; font-weight: 700;">Latest News</h1>

<!-- ////////////////////////////////////////////////// English ////////////////////////////////////////////////////////////// -->

<div class="container">
    <div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">
        <!-- First Card -->
        <div class="col-lg-3 col-md-5 col-sm-12 m-md-3 first" style="font-family:Helvetica, sans-serif; ">
            <a class="cursor-pointer text-decoration-none text-dark" href="#">
                <img src="../../assets/download.jpg" class="rounded-5 img-fluid">

                <div class="row">
                    <div class="col-12 bg-white second rounded-4 ms-4">
                        <h4 class="ps-4 pt-4" style="font-weight: 700;">The local financial market</h4>
                        <p class="text-primary ps-4 readMore1" style="font-weight: 800;"> Read More <i class="fa-solid fa-arrow-right "></i></p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Second Card -->
        <div class="col-lg-3 col-md-5 col-sm-12 my-sm-3 first" style="font-family:Helvetica, sans-serif; ">
            <a class="cursor-pointer text-decoration-none text-dark" href="#">
                <img src="../../assets/download-1.jpg" class="rounded-5">

                <div class="row">
                    <div class="col-12 bg-white second rounded-4 ms-4">
                        <h4 class="ps-4 pt-4" style="font-weight: 700;">The new tax law</h4>
                        <p class="text-primary ps-4 readMore1" style="font-weight: 900;"> Read More <i class="fa-solid fa-arrow-right "></i></p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Third Card -->
        <div class="col-lg-3 col-md-5 col-sm-12 m-md-3 first" style="font-family:Helvetica, sans-serif; ">
            <a class="cursor-pointer text-decoration-none text-dark" href="#">
                <img src="../../assets/download-2.jpg" class="rounded-5">

                <div class="row">
                    <div class="col-12 bg-white second rounded-4 ms-4">
                        <h4 class="ps-4 pt-4" style="font-weight: 700;">The impact of programs on accounting</h4>
                        <p class="text-primary ps-4 readMore1" style="font-weight: 900;"> Read More <i class="fa-solid fa-arrow-right "></i></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- ////////////////////////////////////////////////// Arabic ////////////////////////////////////////////////////////////// -->

<h1 class="text-center display-1 mb-5" style="font-family:Helvetica, sans-serif; font-weight: 700; direction: rtl">اخر الاخبار</h1>

<div class="container" >
    <div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center" style="direction: rtl;">
        <!-- First Card -->
        <div class="col-lg-3 col-md-5 col-sm-10 m-md-3 first" style="font-family:Helvetica, sans-serif; ">
            <a class="cursor-pointer text-decoration-none text-dark" href="#">
                <img src="../../assets/download.jpg" class="rounded-5">

                <div class="row">
                    <div class="col-12 bg-white second rounded-4 ms-4">
                        <h4 class="ps-4 pt-4" style="font-weight: 700;">السوق المالي المحلي</h4>
                        <p class="text-primary ps-4 readMore2" style="font-weight: 800;"> قراءة المزيد <i class="fa-solid fa-arrow-left "></i></p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Second Card -->
        <div class="col-lg-3 col-md-5 col-sm-12 my-sm-3 first" style="font-family:Helvetica, sans-serif; ">
            <a class="cursor-pointer text-decoration-none text-dark" href="#">
                <img src="../../assets/download-1.jpg" class="rounded-5">

                <div class="row">
                    <div class="col-12 bg-white second rounded-4 ms-4">
                        <h4 class="ps-4 pt-4" style="font-weight: 700;">قانون الضرائب الجديد</h4>
                        <p class="text-primary ps-4 readMore2" style="font-weight: 900;"> قراءة المزيد <i class="fa-solid fa-arrow-left "></i></p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Third Card -->
        <div class="col-lg-3 col-md-5 col-sm-10 m-md-3 first" style="font-family:Helvetica, sans-serif; ">
            <a class="cursor-pointer text-decoration-none text-dark" href="#">
                <img src="../../assets/download-2.jpg" class="rounded-5">

                <div class="row">
                    <div class="col-12 bg-white second rounded-4 ms-4">
                        <h4 class="ps-4 pt-4" style="font-weight: 700;">تأثير البرمجيات على المحاسبة</h4>
                        <p class="text-primary ps-4 readMore2" style="font-weight: 900;"> قراءة المزيد <i class="fa-solid fa-arrow-left "></i></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>